
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
}
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}
ul{
list-style-type: none;
}
a{
    text-decoration: none;
    color: black;

}
li{
    display: inline-block;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    font-family: 'Iceberg', cursive;
    font-size: 28px;

}
ul li div h2{
    font-size: 18px;
}
ul li div h3{
    font-size: 14px;
    text-transform: uppercase;
}
ul li div{
    display: flex;
    flex-direction: column;
    align-items: center;
}